:root {
  --justify-important: flex-start;
}

section {
  padding: 0 2rem;

  flex-flow: column;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
